/** 최상위 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* 화면 높이보다 적어도 컨테이너의 높이가 커야합니다. */
}

/** 헤더 */
.header {
    display: flex;
    background-color: white;
    border: 3px black solid;
    position: fixed;
    align-items: center;
    width: 98vw;
    height: 8vh;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 40px;
    width: 60px;
    height: 60px;
    background-color: gray;
}

.navList {
    list-style: none;
    padding: 0;
    margin-left: 200px;
    display: flex;
}

.navList li {
    margin-right: 60px; /* (원하는 값으로 조정) */
}

.navList li a {
    text-decoration: none;
    color: #494949; /* (원하는 값으로 조정) */
    font-size: x-large; /* (원하는 값으로 조정) */
    font-weight: bold; /* (원하는 값으로 조정) */
}

.headerRight {
    height: 5vh;
    min-width: 10vw;
    margin: 0 5vw 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

/** 푸터 */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 96vw;
}

/** 메인 컨텐츠 */
.main {
    flex-grow: 1; /* 페이지 컨텐츠 영역이 화면 높이에 맞춰 조절합니다. */
    margin-top: 10vh; /* navbar의 높이 따라 조정이 필요합니다. */
    height: calc(100vh - 80px - 100px); /* 헤더와 푸터의 높이만큼 제외합니다. */
}


